@import-normalize;

body,
html,
#root {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji",
    "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", Roboto, Helvetica, Arial,
    sans-serif;
  color: #101820;
}

.App {
  display: flex;
  height: 100%;
  min-width: 1024px;
  width: 100%;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
  width: 1px;
}
