.search {
  background: #fff;
  border-top: 1px solid #e8e8eb;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  padding: 20px;
  text-align: left;
  width: 100%;
}

.search input[type="text"],
.search input[type="submit"] {
  border-radius: 0;
  border: 1px solid #e8e8eb;
  padding: 10px;
}

.search input[type="text"] {
  border-bottom-left-radius: 20px;
  border-right: 0;
  border-top-left-radius: 20px;
  box-sizing: border-box;
  width: 85%;
}

.search input[type="submit"] {
  background: url("./search.png") no-repeat scroll 10px 4px transparent;
  background-color: #fff;
  background-size: 55% 75%;
  border-bottom-right-radius: 20px;
  border-left: 0;
  border-top-right-radius: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-indent: -9999px;
  width: 15%;
}
