.sidebar {
  border-right: 1px solid #e8e8eb;
  display: inline-block;
  height: 100%;
  min-width: 320px;
  width: 40%;
  overflow: scroll;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
