.detail-screen-item {
  border-radius: 5px;
  border: 1px solid #e8e8eb;
  margin: 5px 5px 20px 5px;
  padding: 20px;
}

.detail-screen-item:first-child {
  margin-top: 50px;
}

.detail-screen-item:last-child {
  border-bottom: 1px solid #e8e8eb;
  margin-bottom: 50px;
}

.detail-screen-item span.body {
  background-color: #f3f3f5;
  border-radius: 10px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 10px 30px 10px;
}

.detail-screen-item span.title {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.detail-screen-item span img {
  width: 100%;
}

.detail-screen-item span.highlight,
.detail-screen-item span.search-highlight {
  background-color: #c7f6dc;
  border-radius: 100px;
  display: inline-block;
  font-size: 14px;
  margin: 2px 0;
  padding: 3px 10px;
}

.detail-screen-item span.highlight:before {
  content: "Aa";
  font-size: 11px;
  padding-right: 5px;
  position: relative;
  top: -2px;
}

.detail-screen-item span.highlight:after {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #101820;
  content: "";
  display: inline-block;
  height: 0;
  margin-left: 5px;
  position: relative;
  top: -2px;
  width: 0;
}

.detail-screen-item span.highlight:before {
  content: "Aa";
  font-size: 11px;
  padding-right: 5px;
  position: relative;
  top: -2px;
}

.detail-screen-item span.search-highlight {
  background-color: #c7dcf6;
}
