.detail-screen {
  box-sizing: border-box;
  display: inline-block;
  overflow: scroll;
  padding: 0 120px;
  width: 100%;
}

.no-results {
  border-radius: 5px;
  border: 1px solid #e8e8eb;
  font-size: 20px;
  margin: 25px 5px 20px 5px;
  padding: 20px;
  text-align: center;
}
