ul.nodeTree > li {
  padding-left: 0;
  border-left: 0;
}

ul.nodeTree ul li {
  position: relative;
}

ul.nodeTree .node {
  display: block;
  position: relative;
  padding: 0;
}

ul.nodeTree > li > span > button {
  background: #fff;
  border: 0;
  border-top: 1px solid #e8e8eb;
  font-size: 16px;
  padding: 20px;
  text-align: left;
  width: 100%;
}

ul.nodeTree > li > span[aria-expanded="true"] > button {
  border-bottom: 1px solid #e8e8eb;
}

ul.nodeTree span.node.child {
  padding-left: 40px;
  position: relative;
}

ul.nodeTree span.node.child:before,
ul.nodeTree ul li:before {
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid #c1c1c1;
  border-left: 1px solid #c1c1c1;
  content: "";
  display: block;
  height: 15px;
  left: 25px;
  position: absolute;
  width: 15px;
}

ul.nodeTree ul li:before {
  height: 100%;
  width: 1px;
}

ul.nodeTree ul li:last-child:before {
  border: 0;
}

ul.nodeTree span.node.child:after {
  border-left: 1px solid #c1c1c1;
  content: "";
  display: block;
  height: 25px;
  left: 25px;
  position: absolute;
  top: 10px;
  width: 15px;
}

ul.nodeTree li:last-child span.node.child:after,
ul.nodeTree span[aria-expanded="true"].node.child:after {
  border-left: 0;
  content: "";
  display: block;
  height: 25px;
  left: 25px;
  position: absolute;
  top: 10px;
  width: 15px;
}

ul.nodeTree span.node.child button {
  background-color: transparent;
  border: 0;
  padding: 10px;
  text-align: left;
}
